.settings-icon {
    background-image: url("../Media/settings.png");
    background-position: center;
    background-size: contain;
    width: 10vh;
    height: 10vh;
    margin: 1vh
}
@viewport {
  width: 100vw;
}

.cross-icon {
    align-self: flex-end;
    background-image: url("../Media/cross-icon.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 10vh;
    height: 10vh;
    margin: 1vh;
}


.dropdown {
    font-family: initial;
    cursor: pointer;
}


.dropdown-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: whitesmoke;
    width: 50vh;
    height: 40vh;
    border-radius: 2vw;
}

.dropdown-toggle {
    margin: 3vh 1vh;
    font-size: large;
} 

label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 3vh;
}

.dropdown-toggle select {
    width: 20vh;
    margin-left: 1vh;
    font-size: smaller;
}

.royalty {
    color: grey;
    margin: 1vh;
    font-size: 2vh;
}

@media (orientation: portrait){
    .dropdown-menu {
        width: 60vw;
        height: 30vh;
        border-radius: 2vw;
    }

    .dropdown-toggle {
        margin: 10vh 1vh;
    } 

    label {
        font-size: 3vh;
    }

    .dropdown-toggle select {
        width: 20vh;
        margin-left: 1vh;
    }

    .royalty {
        margin: 1vh;
        font-size: 2vh;
    }
}
