.landing-page {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 10fr 1fr;
    height: 100vh;
    grid-template-areas:
        ". Title ."
        "left welcomesvg right"
        ". welcomep ." ;
}

.title { 
    grid-area: Title;
    place-self: center;
    font-family: Arial, Helvetica, sans-serif; 
}

.welcome-svg {
    grid-area: welcomesvg;
    place-self: center;
    width: 40vh;
}

.favorites {
    grid-area: welcomep;
    padding-top: 15vh;
    padding-left: 10vh;
}

.welcome-p { 
    grid-area: welcomep;
    text-align: left;
    margin: 25px 50px 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

li::marker {
    color: rgb(237, 199, 31);
}
li {
    color: black;
    padding-left: 1em;
    cursor: pointer;
}

ul {
    list-style: '★';
}



@media (orientation: portrait){
    .title {
        font-size: 3.5vh;
        padding-top: 5%;
    }

    .landing-page {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .favorites {
        font-size: 2.5vh;
        padding: 0;
    }

    .welcome-p {
        margin: 15px;
        margin-bottom: 10px;
        font-size: 1.7vh;
    }

    .navbutton.left {
        grid-area: left;
        place-self: center;
        position: fixed;
        top: 90%;
        left: 3%;
        margin-right: auto;
    }

    .navbutton.right {
        grid-area: right;
        place-self: center;
        position: fixed;
        top: 90%;
        right: 3%;
        margin-left: auto;
    }

    .flex2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media (max-width: 900px) and (max-height: 400px){
    .welcome-svg {
        width: 30vw;
        margin: 1vh;
    } 

    .title {
        font-size: x-large;
    }

    .landing-page {
        grid-template-columns: 1fr 2fr 2fr 1fr;
        grid-template-rows: 1fr 10fr;
        grid-template-areas:
        ". Title Title ."
        "left welcomesvg favorites right";
    }

    .welcome-p {
        margin: 1vh;
        display: none;
    }

    .favorites {
        grid-area: favorites;
        font-size: 5vh;
    }
}
