.main-page {
    height: 100vh;
}

.header {
    background-color: grey;
}

.navbutton {
    cursor: pointer;
}


.navbutton.left {
    grid-area: left;
    margin-right: 10rem;
}
.navbutton.right {
    grid-area: right;
    margin-left: 10rem;
}

.navbutton button{
    font-size: large;
    width: 5rem;
    height: 2rem;
    margin-bottom: 3rem;
}

.navbutton.left {
    grid-area: left;
    place-self: center;
    position: fixed;
    top: 50%;
    left: 5%;
}

.navbutton.right {
    grid-area: right;
    place-self: center;
    position: fixed;
    top: 50%;
    right: 5%;
}
